.component-comp-1767740866903-6-m84jb {
  text-align: center;
  margin-bottom: 35px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}

.component-comp-1767740866903-10-qx7pb9 {
  width: 100%;
  display: block;
  padding: 15px 20px;
  margin-bottom: 18px;
  background: linear-gradient(225deg, #2b3131 0%, #535565 20%, #2e4556 50%);
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  box-sizing: border-box;
  border-color: #9ee6f0;
  border-top-color: #9ee6f0;
  border-right-color: #9ee6f0;
  border-bottom-color: #9ee6f0;
  border-left-color: #9ee6f0;
}

.component-comp-1767740866903-11-i45hq5 {
  width: 100%;
  display: block;
  padding: 15px 20px;
  margin-bottom: 30px;
  background: linear-gradient(225deg, #2b3131 0%, #535565 20%, #2e4556 50%);
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  box-sizing: border-box;
  border-color: #9ee6f0;
  border-top-color: #9ee6f0;
  border-right-color: #9ee6f0;
  border-bottom-color: #9ee6f0;
  border-left-color: #9ee6f0;
}

.component-comp-1767740866903-12-p83aj7 {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background: linear-gradient(225deg, #3f363f 0%, #3848bc 20%, #2e4556 50%, #d1d1d1 100%);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 16px rgba(79, 172, 254, 0.4);
  display: block;
  align-self: stretch;
  background-color: linear-gradient(225deg, #ffffff 0%, #040b3e 20%, #2e4556 50%, #544040 100%);
}

.component-comp-1767741201563-2-wzlq0k {
  text-align: center;
  margin-bottom: 35px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}

.component-comp-1767741201563-3-c36p1r {
  width: 100%;
  display: block;
  padding: 15px 20px;
  margin-bottom: 18px;
  background: linear-gradient(45deg, #fcf0ff 0%, #436165 100%);
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  box-sizing: border-box;
  background-color: linear-gradient(45deg, #fcf0ff 0%, #436165 50%, #000000 100%);
}

.component-comp-1767741201563-4-53yrz {
  width: 100%;
  display: block;
  padding: 15px 20px;
  margin-bottom: 18px;
  background: linear-gradient(45deg, #fcf0ff 0%, #436165 100%);
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  box-sizing: border-box;
}

.component-comp-1767741201563-5-42bp49 {
  width: 100%;
  display: block;
  padding: 15px 20px;
  margin-bottom: 30px;
  background: linear-gradient(45deg, #fcf0ff 0%, #436165 100%);
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  box-sizing: border-box;
}

.component-comp-1767741201563-6-u7hkj {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background: linear-gradient(225deg, #fcf0ff 0%, #436165 50%, #000000 100%);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 16px rgba(79, 172, 254, 0.4);
  display: block;
  align-self: stretch;
}

